.body{
	background-color: #ffffff;
	'background-color: #f000f0; background-color: transparent;
}

#button_Something{
	background-color: #fffd00;	
}

.part1{
	padding-left: 5em;
}

.part2{
}