@font-face {
	font-family: VCR;
	src: url("files/VCR_OSD_MONO_1.001.ttf");
}

body{
	height: 100%;
	width: 100%;
	font-family: Monospaced;
}

#button_Something{
	background-color: #fffd00;	
}

.part1{
	padding-left: 5em;
}

.part2{
	visibility: hidden;
}
